# __Cleaning Data__ - ``Exercise``

### 1. Import Pandas,Numpy, and Datetime Library

In [1]:
import pandas as pd
import numpy as np
import datetime

### 2. Load DOB_Job_Application_Filings_Raw.csv as dataframe to data variable then show the .head() of the dataframe

In [2]:
# The data to load
f = "DOB_Job_Application_Filings_Raw.csv"

# Take every N-th (in this case 100th) row
n = 10

# Count the lines or use an upper bound
num_lines = sum(1 for l in open(f))

# The row indices to skip - make sure 0 is not included to keep the header!
skip_idx = [x for x in range(1, num_lines) if x % n != 0]

# Read the data
data = pd.read_csv(f, skiprows=skip_idx)
data.head()

,Job #,Doc #,Borough,House #,Street Name,Block,Lot,Bin #,Job Type,Job Status,...,SPECIAL_ACTION_STATUS,SPECIAL_ACTION_DATE,BUILDING_CLASS,JOB_NO_GOOD_COUNT,GIS_LATITUDE,GIS_LONGITUDE,GIS_COUNCIL_DISTRICT,GIS_CENSUS_TRACT,GIS_NTA_NAME,GIS_BIN
0,420291954,1,QUEENS,65-19,PERRY AVENUE,2718.0,30.0,4060776,A2,X,...,N,NaN,C0,0,40.724636,-73.899491,30.0,517.0,Maspeth,4060776.0
1,220094822,2,BRONX,2100,BARTOW AVE,5141.0,810.0,2094224,A2,X,...,N,NaN,K6,0,40.869429,-73.825737,12.0,46201.0,Co-op City,2103850.0
2,421662604,1,QUEENS,36-12,UNION STREET,4977.0,54.0,4112356,A2,R,...,N,NaN,K2,0,40.763470,-73.828046,20.0,869.0,Flushing,4112356.0
3,420292481,1,QUEENS,192-01,39TH AVENUE,5316.0,57.0,4120137,A3,P,...,W,11/15/2011,B1,0,40.761908,-73.789707,19.0,1139.0,Auburndale,4120137.0
4,320245098,1,BROOKLYN,1124,SURF AVENUE,8696.0,37.0,3245151,A3,R,...,N,NaN,V1,0,40.575502,-73.979057,47.0,352.0,Seagate-Coney Island,3000000.0

### 3. Select some of the columns from data variable and save it to data variable itself then show the .head() of the dataframe again, the .info(), and .describe() of the dataframe

In [3]:
# code here!
# pd.set_option('display.max_columns', None)
column = ["Job #","Doc #","Borough","Applicant's First Name","Applicant's Last Name","Applicant Professional Title","Pre- Filing Date","Approved","Initial Cost","Total Est. Fee","Existing Zoning Sqft","Proposed Zoning Sqft","Enlargement SQ Footage","Street Frontage"]

data = data.loc[:,column]
data.head()

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Pre- Filing Date,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
0,420291954,1,QUEENS,REUBEN,MILLER,RA,11/29/2010,12/08/2010,$12000.00,$136.05,0,0,0,0
1,220094822,2,BRONX,ALBERT,COLLADO,PE,11/30/2010,NaN,$11250.00,$212.10,0,0,0,0
2,421662604,1,QUEENS,YEON CHAN,LEE,PE,11/08/2018,11/14/2018,$8500.00,$286.80,0,0,0,0
3,420292481,1,QUEENS,PAUL,MARINO,PE,11/30/2010,11/30/2010,$0.00,$130.00,0,0,0,0
4,320245098,1,BROOKLYN,CHRISTOPHER,VITOLANO,PE,12/01/2010,03/04/2011,$0.00,$1944.00,0,0,0,243

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Pre- Filing Date,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
0,420291954,1,QUEENS,REUBEN,MILLER,RA,11/29/2010,12/08/2010,$12000.00,$136.05,0,0,0,0
1,220094822,2,BRONX,ALBERT,COLLADO,PE,11/30/2010,NaN,$11250.00,$212.10,0,0,0,0
2,421662604,1,QUEENS,YEON CHAN,LEE,PE,11/08/2018,11/14/2018,$8500.00,$286.80,0,0,0,0
3,420292481,1,QUEENS,PAUL,MARINO,PE,11/30/2010,11/30/2010,$0.00,$130.00,0,0,0,0
4,320245098,1,BROOKLYN,CHRISTOPHER,VITOLANO,PE,12/01/2010,03/04/2011,$0.00,$1944.00,0,0,0,243

In [4]:
# code here!
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13810 entries, 0 to 13809
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Job #                         13810 non-null  int64
 1   Doc #                         13810 non-null  int64
 2   Borough                       13810 non-null  object
 3   Applicant's First Name        13810 non-null  object
 4   Applicant's Last Name         13810 non-null  object
 5   Applicant Professional Title  13809 non-null  object
 6   Pre- Filing Date              13810 non-null  object
 7   Approved                      11267 non-null  object
 8   Initial Cost                  13810 non-null  object
 9   Total Est. Fee                13810 non-null  object
 10  Existing Zoning Sqft          13810 non-null  int64
 11  Proposed Zoning Sqft          13810 non-null  int64
 12  Enlargement SQ Footage        13810 non-null  int64
 13  Street Frontage               13810 non-null  int64
dtypes: int64(6), object(8)
memory usage: 1.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13810 entries, 0 to 13809
Data columns (total 14 columns):
Job #                           13810 non-null int64
Doc #                           13810 non-null int64
Borough                         13810 non-null object
Applicant's First Name          13810 non-null object
Applicant's Last Name           13810 non-null object
Applicant Professional Title    13809 non-null object
Pre- Filing Date                13810 non-null object
Approved                        11267 non-null object
Initial Cost                    13810 non-null object
Total Est. Fee                  13810 non-null object
Existing Zoning Sqft            13810 non-null int64
Proposed Zoning Sqft            13810 non-null int64
Enlargement SQ Footage          13810 non-null int64
Street Frontage                 13810 non-null int64
dtypes: int64(6), object(8)
memory usage: 1.5+ MB

In [5]:
# code here!
data.describe()

,Job #,Doc #,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
count,1.381000e+04,13810.000000,1.381000e+04,1.381000e+04,13810.000000,13810.000000
mean,2.509774e+08,1.148371,1.341891e+03,2.294220e+03,48.200434,4.053440
std,1.358115e+08,0.501644,4.504786e+04,5.726133e+04,508.286599,27.759045
min,1.020206e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.209957e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,2.205195e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,4.011669e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
max,5.401627e+08,9.000000,3.583167e+06,3.583167e+06,24047.000000,791.000000

,Job #,Doc #,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
count,1.381000e+04,13810.000000,1.381000e+04,1.381000e+04,13810.000000,13810.000000
mean,2.509774e+08,1.148371,1.341891e+03,2.294220e+03,48.200434,4.053440
std,1.358115e+08,0.501644,4.504786e+04,5.726133e+04,508.286599,27.759045
min,1.020206e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.209957e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,2.205195e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,4.011669e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
max,5.401627e+08,9.000000,3.583167e+06,3.583167e+06,24047.000000,791.000000

### 4. Show Borough Value Counts

In [6]:
# code here!
data["Borough"].value_counts()

MANHATTAN        6057
BROOKLYN         3138
QUEENS           2733
BRONX            1093
STATEN ISLAND     789
Name: Borough, dtype: int64

MANHATTAN        6057
BROOKLYN         3138
QUEENS           2733
BRONX            1093
STATEN ISLAND     789
Name: Borough, dtype: int64

### 5. Check if there is data in Initial Cost and Total Est. Fee that dont have $ Symbol (show value_counts of the columns after filtering)

In [7]:
# code here!
data["Total Est. Fee"]= data["Total Est. Fee"].str.replace("$","")
data["Total Est. Fee"]

0         136.05
1         212.10
2         286.80
3         130.00
4        1944.00
          ...
13805    2021.77
13806     100.00
13807     335.70
13808     100.00
13809     315.10
Name: Total Est. Fee, Length: 13810, dtype: object

In [8]:
data["Initial Cost"]= data["Initial Cost"].str.replace("$","")
data["Initial Cost"]

0        12000.00
1        11250.00
2         8500.00
3            0.00
4            0.00
           ...
13805        0.00
13806     2000.00
13807    23600.00
13808     2000.00
13809    22000.00
Name: Initial Cost, Length: 13810, dtype: object

In [9]:
# code here!
data

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Pre- Filing Date,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
0,420291954,1,QUEENS,REUBEN,MILLER,RA,11/29/2010,12/08/2010,12000.00,136.05,0,0,0,0
1,220094822,2,BRONX,ALBERT,COLLADO,PE,11/30/2010,NaN,11250.00,212.10,0,0,0,0
2,421662604,1,QUEENS,YEON CHAN,LEE,PE,11/08/2018,11/14/2018,8500.00,286.80,0,0,0,0
3,420292481,1,QUEENS,PAUL,MARINO,PE,11/30/2010,11/30/2010,0.00,130.00,0,0,0,0
4,320245098,1,BROOKLYN,CHRISTOPHER,VITOLANO,PE,12/01/2010,03/04/2011,0.00,1944.00,0,0,0,243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13805,302026821,1,BROOKLYN,ANDREW,KNOX,RA,11/01/2005,NaN,0.00,2021.77,0,0,0,0
13806,302030503,1,BROOKLYN,SCOTT,SCHNALL,PE,10/31/2005,11/15/2005,2000.00,100.00,0,0,0,0
13807,302033608,1,BROOKLYN,GUY,ROMAIN,RA,11/02/2005,11/07/2005,23600.00,335.70,0,0,0,0
13808,302037739,1,BROOKLYN,GREGORY,PEROTTO,PE,11/16/2005,11/16/2005,2000.00,100.00,0,0,0,0
13809,302040967,1,BROOKLYN,Paul,Millman,PE,11/21/2005,11/22/2005,22000.00,315.10,0,0,0,0

Series([], Name: Total Est. Fee, dtype: int64)

### 6. Remove $ Symbol from Initial Cost and Total Est. Fee data, and convert the columns dtype to float. And then convert Pre- Filing Date and Approved dtype to datetime. And last convert the Borough column dtype to category.

In [10]:
# code here!
data["Initial Cost"]= data["Initial Cost"].astype(float)
data["Total Est. Fee"]= data["Total Est. Fee"].astype(float)
data["Pre- Filing Date"] = pd.to_datetime(data["Pre- Filing Date"])
data["Borough"] = data["Borough"].astype("category")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13810 entries, 0 to 13809
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Job #                         13810 non-null  int64
 1   Doc #                         13810 non-null  int64
 2   Borough                       13810 non-null  category
 3   Applicant's First Name        13810 non-null  object
 4   Applicant's Last Name         13810 non-null  object
 5   Applicant Professional Title  13809 non-null  object
 6   Pre- Filing Date              13810 non-null  datetime64[ns]
 7   Approved                      11267 non-null  object
 8   Initial Cost                  13810 non-null  float64
 9   Total Est. Fee                13810 non-null  float64
 10  Existing Zoning Sqft          13810 non-null  int64
 11  Proposed Zoning Sqft          13810 non-null  int64
 12  Enlargement SQ Footage        13810 non-null  int64
 13  Street Frontage               13810 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(6), object(4)
memory usage: 1.4+ MB

### 7. Show the .head() and .info() and .describe() of the dataframe again

In [11]:
# code here!
data.head()

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Pre- Filing Date,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
0,420291954,1,QUEENS,REUBEN,MILLER,RA,2010-11-29,12/08/2010,12000.0,136.05,0,0,0,0
1,220094822,2,BRONX,ALBERT,COLLADO,PE,2010-11-30,NaN,11250.0,212.10,0,0,0,0
2,421662604,1,QUEENS,YEON CHAN,LEE,PE,2018-11-08,11/14/2018,8500.0,286.80,0,0,0,0
3,420292481,1,QUEENS,PAUL,MARINO,PE,2010-11-30,11/30/2010,0.0,130.00,0,0,0,0
4,320245098,1,BROOKLYN,CHRISTOPHER,VITOLANO,PE,2010-12-01,03/04/2011,0.0,1944.00,0,0,0,243

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Pre- Filing Date,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
0,420291954,1,QUEENS,REUBEN,MILLER,RA,2010-11-29,2010-12-08,12000.0,136.05,0,0,0,0
1,220094822,2,BRONX,ALBERT,COLLADO,PE,2010-11-30,NaT,11250.0,212.10,0,0,0,0
2,421662604,1,QUEENS,YEON CHAN,LEE,PE,2018-11-08,2018-11-14,8500.0,286.80,0,0,0,0
3,420292481,1,QUEENS,PAUL,MARINO,PE,2010-11-30,2010-11-30,0.0,130.00,0,0,0,0
4,320245098,1,BROOKLYN,CHRISTOPHER,VITOLANO,PE,2010-12-01,2011-03-04,0.0,1944.00,0,0,0,243

In [12]:
# code here!
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13810 entries, 0 to 13809
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Job #                         13810 non-null  int64
 1   Doc #                         13810 non-null  int64
 2   Borough                       13810 non-null  category
 3   Applicant's First Name        13810 non-null  object
 4   Applicant's Last Name         13810 non-null  object
 5   Applicant Professional Title  13809 non-null  object
 6   Pre- Filing Date              13810 non-null  datetime64[ns]
 7   Approved                      11267 non-null  object
 8   Initial Cost                  13810 non-null  float64
 9   Total Est. Fee                13810 non-null  float64
 10  Existing Zoning Sqft          13810 non-null  int64
 11  Proposed Zoning Sqft          13810 non-null  int64
 12  Enlargement SQ Footage        13810 non-null  int64
 13  Street Frontage               13810 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(6), object(4)
memory usage: 1.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13810 entries, 0 to 13809
Data columns (total 14 columns):
Job #                           13810 non-null int64
Doc #                           13810 non-null int64
Borough                         13810 non-null category
Applicant's First Name          13810 non-null object
Applicant's Last Name           13810 non-null object
Applicant Professional Title    13809 non-null object
Pre- Filing Date                13810 non-null datetime64[ns]
Approved                        11267 non-null datetime64[ns]
Initial Cost                    13810 non-null float64
Total Est. Fee                  13810 non-null float64
Existing Zoning Sqft            13810 non-null int64
Proposed Zoning Sqft            13810 non-null int64
Enlargement SQ Footage          13810 non-null int64
Street Frontage                 13810 non-null int64
dtypes: category(1), datetime64[ns](2), float64(2), int64(6), object(3)
memory usage: 1.4+ MB

In [13]:
# code here!
data.describe()

,Job #,Doc #,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
count,1.381000e+04,13810.000000,1.381000e+04,13810.000000,1.381000e+04,1.381000e+04,13810.000000,13810.000000
mean,2.509774e+08,1.148371,1.004210e+05,1246.855547,1.341891e+03,2.294220e+03,48.200434,4.053440
std,1.358115e+08,0.501644,7.756349e+05,8058.790275,4.504786e+04,5.726133e+04,508.286599,27.759045
min,1.020206e+08,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.209957e+08,1.000000,0.000000e+00,169.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,2.205195e+08,1.000000,1.200000e+04,316.500000,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,4.011669e+08,1.000000,5.000000e+04,728.500000,0.000000e+00,0.000000e+00,0.000000,0.000000
max,5.401627e+08,9.000000,7.022720e+07,723436.900000,3.583167e+06,3.583167e+06,24047.000000,791.000000

,Job #,Doc #,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
count,1.381000e+04,13810.000000,1.381000e+04,13810.000000,1.381000e+04,1.381000e+04,13810.000000,13810.000000
mean,2.509774e+08,1.148371,1.004210e+05,1246.855547,1.341891e+03,2.294220e+03,48.200434,4.053440
std,1.358115e+08,0.501644,7.756349e+05,8058.790275,4.504786e+04,5.726133e+04,508.286599,27.759045
min,1.020206e+08,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.209957e+08,1.000000,0.000000e+00,169.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,2.205195e+08,1.000000,1.200000e+04,316.500000,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,4.011669e+08,1.000000,5.000000e+04,728.500000,0.000000e+00,0.000000e+00,0.000000,0.000000
max,5.401627e+08,9.000000,7.022720e+07,723436.900000,3.583167e+06,3.583167e+06,24047.000000,791.000000

### 8. Check the data that have missing value on Applicant Professional Title column

In [14]:
# code here!
data[data["Applicant Professional Title"].isnull()]

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Pre- Filing Date,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
8644,102689011,1,MANHATTAN,CHARLES,GOPELAND,NaN,2000-07-03,NaN,44000.0,541.7,0,0,0,0

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Pre- Filing Date,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
8644,102689011,1,MANHATTAN,CHARLES,GOPELAND,NaN,2000-07-03,NaT,44000.0,541.7,0,0,0,0

### 9. Show The Oldest and The Newest Pre- Filing Date

In [15]:
# code here!
Oldest = min(data["Pre- Filing Date"])
Newest = max(data["Pre- Filing Date"])
print("The Oldest Pre- Filing Date : ",Oldest)
print("The Newest Pre- Filing Date : ",Newest)

The Oldest Pre- Filing Date :  2000-01-03 00:00:00
The Newest Pre- Filing Date :  2019-04-05 00:00:00

The Oldest Pre- Filing Date : 2000-01-03 00:00:00
The Newest Pre- Filing Date : 2019-04-05 00:00:00

### 10. Fill The missing values of Approved Columns with 1997-9-19 date, then drop all rows with missing values, and then show .info() of the dataframe again, and oldest Approved Date

In [16]:
# code here!
data["Approved"].fillna("1997-09-19",inplace=True)

In [17]:
data["Approved"] = pd.to_datetime(data["Approved"])

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13810 entries, 0 to 13809
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Job #                         13810 non-null  int64
 1   Doc #                         13810 non-null  int64
 2   Borough                       13810 non-null  category
 3   Applicant's First Name        13810 non-null  object
 4   Applicant's Last Name         13810 non-null  object
 5   Applicant Professional Title  13809 non-null  object
 6   Pre- Filing Date              13810 non-null  datetime64[ns]
 7   Approved                      13810 non-null  datetime64[ns]
 8   Initial Cost                  13810 non-null  float64
 9   Total Est. Fee                13810 non-null  float64
 10  Existing Zoning Sqft          13810 non-null  int64
 11  Proposed Zoning Sqft          13810 non-null  int64
 12  Enlargement SQ Footage        13810 non-null  int64
 13  Street Frontage               13810 non-null  int64
dtypes: category(1), datetime64[ns](2), float64(2), int64(6), object(3)
memory usage: 1.4+ MB

In [44]:
# code here!
data.dropna(how="all",inplace=True)

In [35]:
minApproved = min(data["Approved"])
print(minApproved)

1997-09-19 00:00:00

In [17]:
min(data["Approved"])

1997-09-19 00:00:00

In [47]:
data.isnull().sum()

Job #                           0
Doc #                           0
Borough                         0
Applicant's First Name          0
Applicant's Last Name           0
Applicant Professional Title    0
Pre- Filing Date                0
Approved                        0
Initial Cost                    0
Total Est. Fee                  0
Existing Zoning Sqft            0
Proposed Zoning Sqft            0
Enlargement SQ Footage          0
Street Frontage                 0
dtype: int64

### 11. Set Pre- Filing Date column as index of the dataframe, sort Ascending the index, and then show the .head() and .info() of the dataframe

In [20]:
# code here!
data.set_index("Pre- Filing Date").sort_values(by="Pre- Filing Date").head()

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
Pre- Filing Date,,,,,,,,,,,,,
2000-01-03,102861002,1,MANHATTAN,John,Averitt,RA,1997-09-19,25000.0,203.0,0,0,0,0
2000-01-04,300948599,2,BROOKLYN,MICHELL,ATTICK,RA,1997-09-19,0.0,130.0,0,0,0,0
2000-01-04,200605684,1,BRONX,ROBERT,PEROTTO,PE,2000-01-04,0.0,100.0,0,0,0,0
2000-01-04,500400050,1,STATEN ISLAND,PAUL,LOMBARDI,RA,2000-06-01,70000.0,809.5,0,0,0,0
2000-01-04,102864606,1,MANHATTAN,NEAL,RUDIKOFF,PE,2000-01-05,0.0,100.0,0,0,0,0

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
Pre- Filing Date,,,,,,,,,,,,,
2000-01-03,102861002,1,MANHATTAN,John,Averitt,RA,1997-09-19,25000.0,203.0,0,0,0,0
2000-01-04,102864606,1,MANHATTAN,NEAL,RUDIKOFF,PE,2000-01-05,0.0,100.0,0,0,0,0
2000-01-04,200605684,1,BRONX,ROBERT,PEROTTO,PE,2000-01-04,0.0,100.0,0,0,0,0
2000-01-04,500400050,1,STATEN ISLAND,PAUL,LOMBARDI,RA,2000-06-01,70000.0,809.5,0,0,0,0
2000-01-04,300948599,2,BROOKLYN,MICHELL,ATTICK,RA,1997-09-19,0.0,130.0,0,0,0,0

In [21]:
# code here!
data.set_index("Pre- Filing Date").info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13810 entries, 2010-11-29 to 2005-11-21
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Job #                         13810 non-null  int64
 1   Doc #                         13810 non-null  int64
 2   Borough                       13810 non-null  category
 3   Applicant's First Name        13810 non-null  object
 4   Applicant's Last Name         13810 non-null  object
 5   Applicant Professional Title  13809 non-null  object
 6   Approved                      13810 non-null  datetime64[ns]
 7   Initial Cost                  13810 non-null  float64
 8   Total Est. Fee                13810 non-null  float64
 9   Existing Zoning Sqft          13810 non-null  int64
 10  Proposed Zoning Sqft          13810 non-null  int64
 11  Enlargement SQ Footage        13810 non-null  int64
 12  Street Frontage               13810 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(6), object(3)
memory usage: 1.4+ MB

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13809 entries, 2000-01-03 to 2019-04-05
Data columns (total 13 columns):
Job #                           13809 non-null int64
Doc #                           13809 non-null int64
Borough                         13809 non-null category
Applicant's First Name          13809 non-null object
Applicant's Last Name           13809 non-null object
Applicant Professional Title    13809 non-null object
Approved                        13809 non-null datetime64[ns]
Initial Cost                    13809 non-null float64
Total Est. Fee                  13809 non-null float64
Existing Zoning Sqft            13809 non-null int64
Proposed Zoning Sqft            13809 non-null int64
Enlargement SQ Footage          13809 non-null int64
Street Frontage                 13809 non-null int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(6), object(3)
memory usage: 1.4+ MB

### 12. How many data that have the Pre- Filing Date in year 2019?

In [22]:
# code here!
len(data.set_index("Pre- Filing Date").loc['2019-01-01':'2019-12-31'])

199

199

### 13. Show data that Pre- Filing Date = 2019-04-05 (Newest Date)

In [25]:
# code here!
data.set_index("Pre- Filing Date").loc["2019-04-05"]

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
Pre- Filing Date,,,,,,,,,,,,,
2019-04-05,123869368,1,MANHATTAN,SUSANNE,MACKIW,RA,2019-04-05,400000.0,4314.1,0,0,0,0
2019-04-05,420665435,2,QUEENS,BRUCE,LILKER,PE,1997-09-19,0.0,0.0,0,0,0,0
2019-04-05,123707391,2,MANHATTAN,IRINA,VERONA,RA,1997-09-19,1000.0,225.0,0,0,0,0

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
Pre- Filing Date,,,,,,,,,,,,,
2019-04-05,420665435,2,QUEENS,BRUCE,LILKER,PE,1997-09-19,0.0,0.0,0,0,0,0
2019-04-05,123707391,2,MANHATTAN,IRINA,VERONA,RA,1997-09-19,1000.0,225.0,0,0,0,0
2019-04-05,123869368,1,MANHATTAN,SUSANNE,MACKIW,RA,2019-04-05,400000.0,4314.1,0,0,0,0

### 14. Show data that Pre- Filing Date from 2019-04-03 to 2019-04-05

In [27]:
# code here!
data.set_index("Pre- Filing Date").loc['2019-04-03':'2019-04-05']

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
Pre- Filing Date,,,,,,,,,,,,,
2019-04-03,421948469,1,QUEENS,SALVATOR,CARADONNA,PE,2019-04-03,9526.0,267.1,0,0,0,0
2019-04-03,123368051,1,MANHATTAN,KON HO,LEE,PE,2019-04-05,4000.0,205.3,0,0,0,0
2019-04-03,421668797,3,QUEENS,LOUISE,GRIGG,PE,1997-09-19,30000.0,503.1,0,0,0,0
2019-04-04,440541683,1,QUEENS,RUSLAN,SOLOVYEV,PE,1997-09-19,1200000.0,12554.1,0,0,0,0
2019-04-04,123538546,3,MANHATTAN,STEPHEN,LAMPARD,PE,1997-09-19,0.0,0.0,0,0,0,0
2019-04-04,123525738,3,MANHATTAN,JEFFREY,CALLOW,PE,1997-09-19,103000.0,1255.0,0,0,0,0
2019-04-04,123671696,1,MANHATTAN,ADRIEN,ALLRED,RA,1997-09-19,216000.0,678.6,0,0,0,0
2019-04-03,520362946,1,STATEN ISLAND,WILLY,YUIN,RA,2019-04-03,5000.0,170.0,1912,1912,0,0
2019-04-04,123835788,1,MANHATTAN,ROBERT,BATES,RA,1997-09-19,845000.0,8897.6,0,0,0,0
2019-04-05,123869368,1,MANHATTAN,SUSANNE,MACKIW,RA,2019-04-05,400000.0,4314.1,0,0,0,0
2019-04-05,420665435,2,QUEENS,BRUCE,LILKER,PE,1997-09-19,0.0,0.0,0,0,0,0
2019-04-05,123707391,2,MANHATTAN,IRINA,VERONA,RA,1997-09-19,1000.0,225.0,0,0,0,0

,Job #,Doc #,Borough,Applicant's First Name,Applicant's Last Name,Applicant Professional Title,Approved,Initial Cost,Total Est. Fee,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage
Pre- Filing Date,,,,,,,,,,,,,
2019-04-03,421668797,3,QUEENS,LOUISE,GRIGG,PE,1997-09-19,30000.0,503.1,0,0,0,0
2019-04-03,123368051,1,MANHATTAN,KON HO,LEE,PE,2019-04-05,4000.0,205.3,0,0,0,0
2019-04-03,520362946,1,STATEN ISLAND,WILLY,YUIN,RA,2019-04-03,5000.0,170.0,1912,1912,0,0
2019-04-03,421948469,1,QUEENS,SALVATOR,CARADONNA,PE,2019-04-03,9526.0,267.1,0,0,0,0
2019-04-04,123835788,1,MANHATTAN,ROBERT,BATES,RA,1997-09-19,845000.0,8897.6,0,0,0,0
2019-04-04,123671696,1,MANHATTAN,ADRIEN,ALLRED,RA,1997-09-19,216000.0,678.6,0,0,0,0
2019-04-04,123525738,3,MANHATTAN,JEFFREY,CALLOW,PE,1997-09-19,103000.0,1255.0,0,0,0,0
2019-04-04,123538546,3,MANHATTAN,STEPHEN,LAMPARD,PE,1997-09-19,0.0,0.0,0,0,0,0
2019-04-04,440541683,1,QUEENS,RUSLAN,SOLOVYEV,PE,1997-09-19,1200000.0,12554.1,0,0,0,0
2019-04-05,420665435,2,QUEENS,BRUCE,LILKER,PE,1997-09-19,0.0,0.0,0,0,0,0
2019-04-05,123707391,2,MANHATTAN,IRINA,VERONA,RA,1997-09-19,1000.0,225.0,0,0,0,0
2019-04-05,123869368,1,MANHATTAN,SUSANNE,MACKIW,RA,2019-04-05,400000.0,4314.1,0,0,0,0

### 15. Save the clean dataframe to a new .csv file, name = DOB_Job_Application_Filings_CleanSample.csv with index

In [48]:
data.to_csv(r'/Users/user/Desktop/modul 2/DOB_Job_Application_Filings_CleanSample.csv', index = True)